
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html {
	height: 100%;
	width: 100%;
	margin: 0;
}

#map {
    height: 80vh;
    width: 100%;
}

.navbar {
	height: 10vh;
	width: 100vw;
	background-color: #f2f2f2; 
	margin: 0;
}

.footer {
	height: 10vh;
	width: 100%;
	margin: 0;
}

